body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(#101725, #152334);
}

.container {
    text-align: center;
    background-color: #6C5F5B;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px red;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(100, 1, 1, 1);

}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.topnav {
    background-color: #333;
    overflow: hidden;
    margin-top: 50px;
    padding-left: 50px;
    box-shadow: 0 15px 25px rgb(1, 46, 100);
    position: sticky;
    top: 0;
    
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #43e95c;
    color: black;
    transition: 0.3s;
}

.topnav a.active {
    background-color: #4242e8;
    color: white;

}

.topnav .icon {
    display: none;
}


.box {
    width: 1000px;
    height: 500px;
    background: rgba(43, 41, 41, 0.4);
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: rgba(58, 7, 7, 0.56) 0px 22px 70px 4px;

}

.box:hover {
    box-shadow: rgba(238, 3, 3, 0.56) 0px 22px 70px 4px;
    transition: 0.5s;
    transform: translateY(-5px);
}

.fa {
    padding: 20px;
    font-size: 19px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    box-shadow: 0px 1px 10px 10px rgba(0, 255, 255, 0.7);
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-github {
    background: #3d1d1d;
    color: rgb(255, 255, 255);
}



.image {
    border-radius: 10px;
    margin-top: 85px;
    margin-left: 100px;
}


.para1 {
    margin-top: -378px;
    margin-left: 400px;
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(107, 136, 162);

}

.card {
    justify-content: center;
    display: flex;
    background: linear-gradient(0deg, rgb(34, 46, 71) 0%, rgba(59, 3, 108, 0.5) 100%);
    width: 1000px;
    height: 500px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
    transition: 0.3s;
}

.he2 {
    color: aliceblue;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.para2 {
    padding-top: 29px;
    padding-left: 38px;
    padding-right: 41px;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.para3 {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}


.section2 {
    display: flex;
    margin-top: 100px;
    padding-left: 12%;
    width: 1000px;
    height: 800px;
    border-radius: 20px;

}

.header1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 58px;
    text-shadow: 4px 4px 5px rgb(228, 232, 225);
}

.image3 {
    margin-top: -40px;

}

.container2 {
    background: rgba(8, 0, 0, 0.5);
    border-radius: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: fit-content;
    padding-left: 40px;
    padding-right: 20px;
    box-shadow: rgba(9, 112, 144, 0.56) 0px 10px 20px 4px;
}

.container2:hover{
    box-shadow: rgba(12, 146, 186, 0.56) 0px 20px 20px 20px;
    transition: 0.5s;
}

.header2 {
    
    padding: 20px;
    text-align: center;
    color: aliceblue;
    letter-spacing: 2px;

}

.javaimg {
    margin-top: -98px;
    margin-left: 400px;

}

.projects {
    height: 450px;
    width: 250px;
    margin-right: 40px;
    background-color: #d6dbe6;
    background: linear-gradient(0deg, rgb(146, 154, 171) 0%, rgba(74, 50, 94, 0.5) 100%);
    box-shadow: 0 7px 20px 5px #cb575788;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s all;

    ::before {
        position: fixed;
        content: "";
        box-shadow: 0 0 100px 40px #ffffff08;
        top: -10%;
        left: -100%;
        transform: rotate(-45deg);
        height: 60rem;
        transition: .7s all;
    }

    &:hover {
        border: 1px solid #ffffff44;
        box-shadow: 0 7px 50px 10px #fa1515aa;
        transform: scale(1.015);

        ::before {
            top: -100%;
            left: 200%;
        }
    }
}

table{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


.link1 {
    font-size: 20px;
    margin-left: 80px;
   
}


.pr1 {
    margin-top: 10px;
    text-align: center;
}


.pr2 {
    margin-top: 50px;
    text-align: center;

}

.pr3 {
    margin-top: 50px;
    text-align: center;
    
}


footer{
    margin-top: 100px;
    text-align: center;
    color: #fff;
    background-color:#19191e;
    height: 100px;
}

.letters{
    margin-top: 70px;
}


